html, body{
    font-size: 14px;
    font-family: "微软雅黑";
}
/*-------------------------------------------------------------------------------------------------*/
.header{ padding: 0; color: white }
.abs_bottom{
    background: black!important;
}
